<div class="govuk-notification-banner govuk-!-margin-bottom-4" role="region" aria-labelledby="draft-content-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="draft-content-banner-title">Important</h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">This is draft content. It is not yet published.</p>
    </div>
</div>
