@using DdtManual.Web.Helpers
@using DdtManual.Web.Models
@model PageNotification
@if (Model != null && (!string.IsNullOrWhiteSpace(Model.Title) || !string.IsNullOrWhiteSpace(Model.Message)))
{
<div class="govuk-notification-banner govuk-!-margin-bottom-6" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      @(string.IsNullOrWhiteSpace(Model.Title) ? "Important" : Model.Title)
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      @Html.Raw(string.IsNullOrWhiteSpace(Model.Message) ? "" : GovUkMarkdown.ToGovUkInlineHtml(Model.Message))
    </p>
  </div>
</div>
}
